body{
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container{
    max-width: 1000px;
    margin: 30px auto;
}

/* GLOBAL STYLES */
ul{
    list-style-type: none;
}

.filters{
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
}
.filters > button{
    height: 48px;
    width: 20%;
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: 30px;
    cursor: pointer;

}
.filters > button:hover{
    opacity: 0.9;
}
.locations, .amenities{
    position: relative;
    height: 100%;
    width: 25%;
    margin-left: 30px;
    z-index: 10;
}
.locations{
    position: relative;
    border-right: 1px solid #DDDDDD;
}
.locations > h3, .amenities > h3{
    font-weight: 600;
    margin-bottom: -15px;
}
.locations > h4, .amenities > h4{
    font-size: 14px;
    font-weight: 400;
}
.popover{
    visibility: hidden;
    position: absolute;
    margin-top: -5px;
    margin-left: -30px;
    background-color: #FAFAFA;
    width: 95%;
    border: 1px solid  #DDDDDD;
    border-radius: 4px;
    padding: 20px;
}
.popover  h2{
    font-size: 16px;
    margin-bottom: 2px;
    margin-left: -40px;
}
.popover li{
    margin-bottom: 5px;
}
.locations:hover .popover, .amenities:hover .popover {
    visibility: visible;
}

@media screen and (max-width: 1023px) {
    .filters{
        height: 80px;
    }
}

footer{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    bottom: 0;
    border-top: 1px solid #CCCCCC;
}

header{
    height: 70px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #CCCCCC;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 20px;
}

.places{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.places h1{
    font-size: 30px;
    text-align: left;
    margin-left: 10px;
}
.places div{
    display: flex;
    flex-wrap: wrap;
}
.places article{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
}
article:last-child{
    margin: 0 auto;
}
.places article h2{
    margin-top: -5px;
    font-size: 30px;
}
.price_per_night{
    position: absolute;
    top: 10px;
    right: 20px;
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    padding: 10px;
    line-height: 60px;
    text-align: center;
}
.information{
    height: 80px;
    margin-top: 60px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

.max_guest,
.number_rooms,
.number_bathrooms{
    width: 100px;
    background-repeat: no-repeat;
    background-position-x: 15px;
    line-height: 120px;
    text-align: center;
}
.max_guest{
    background-image: url(../images/group.png);
}
.number_rooms{
    background-image: url(../images/bed.png);
}
.number_bathrooms{
    background-image: url(../images/bath.png);
}
.user{
    margin-top: 20px;
}
.description{
    margin-top: 10px;
    text-align: left;
}
article > .amenities{
    all: unset;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
article .amenities > h2{
    width: 100%;
    font-size: 16px;
    text-align: left;
    border-bottom: 1px solid #DDDDDD;
}
article > .amenities > ul{
    all: unset;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 10px;
}

article > .amenities > ul > li{
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 20px;
    display: flex;
    text-indent: 40px;
}
article > .reviews{
    margin-top: 40px;
}
article > .reviews > h2{
    width: 100%;
    font-size: 16px;
    text-align: left;
    border-bottom: 1px solid #DDDDDD;
}
article > .reviews > ul{   
    display: flex;
    flex-direction: column;
    line-height: 5px;
    margin: 0;
    padding: 0;
}
.reviews li{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.reviews h3{
    font-size: 14px;
}
.reviews p{
    margin-top: -5px;
    line-height: 1.5;
    font-size: 12px;
}
@media screen and (max-width: 1023px) {
    .information{
        flex-direction: column;
    }
    article:last-child{
        margin: 0;
        margin-left: 5%;
    }
    .price_per_night{
        right: 10px;
    }
    .reviews h3{
        line-height: 1.3;
    }
}