.places{
    display: flex;
    flex-direction: column;
}
.places h1{
    font-size: 30px;
    text-align: left;
}
.places div{
    display: flex;
    flex-wrap: wrap;
}
.places article{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    text-align: center;
    position: relative;
}
article:last-child{
    margin: 0 auto;
}
.places article h2{
    margin-top: -5px;
    font-size: 30px;
}
.price_per_night{
    position: absolute;
    top: 10px;
    right: 20px;
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    padding: 10px;
    line-height: 60px;
    text-align: center;
}
.information{
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}
/* .information::before{
    content: "";
    height: 1px;
    width: 95%;
    opacity: 0.6;
    background-color: #484848;
    margin-bottom: 10px;
} */
.max_guest,
.number_rooms,
.number_bathrooms{
    width: 100px;
    background-repeat: no-repeat;
    background-position-x: 15px;
    line-height: 120px;
    text-align: center;
}
.max_guest{
    background-image: url(../images/icon_group.png);
}
.number_rooms{
    background-image: url(../images/icon_bed.png);
}
.number_bathrooms{
    background-image: url(../images/icon_bath.png);
}
.user{
    margin-top: 20px;
}
.description{
    margin-top: 10px;
    text-align: left;
}